@font-face {
    font-family: 'MetropolisMedium';
    src: url('../fonts/MetropolisMedium.eot');
    src: url('../fonts/MetropolisMedium.eot') format('embedded-opentype'),
    url('../fonts/MetropolisMedium.woff2') format('woff2'),
    url('../fonts/MetropolisMedium.woff') format('woff'),
    url('../fonts/MetropolisMedium.ttf') format('truetype'),
    url('../fonts/MetropolisMedium.svg#MetropolisMedium') format('svg');
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
@font-face {
    font-family: 'MetropolisRegular';
    src: url('../fonts/MetropolisRegular.eot');
    src: url('../fonts/MetropolisRegular.eot') format('embedded-opentype'),
    url('../fonts/MetropolisRegular.woff2') format('woff2'),
    url('../fonts/MetropolisRegular.woff') format('woff'),
    url('../fonts/MetropolisRegular.ttf') format('truetype'),
    url('../fonts/MetropolisRegular.svg#MetropolisRegular') format('svg');
}
@font-face {
    font-family: 'NowBold';
    src: url('../fonts/NowBold.eot');
    src: url('../fonts/NowBold.eot') format('embedded-opentype'),
    url('../fonts/NowBold.woff2') format('woff2'),
    url('../fonts/NowBold.woff') format('woff'),
    url('../fonts/NowBold.ttf') format('truetype'),
    url('../fonts/NowBold.svg#NowBold') format('svg');
}
@font-face {
    font-family: 'NowMedium';
    src: url('../fonts/NowMedium.eot');
    src: url('../fonts/NowMedium.eot') format('embedded-opentype'),
    url('../fonts/NowMedium.woff2') format('woff2'),
    url('../fonts/NowMedium.woff') format('woff'),
    url('../fonts/NowMedium.ttf') format('truetype'),
    url('../fonts/NowMedium.svg#NowMedium') format('svg');
}
@font-face {
    font-family: 'MetropolisLight';
    src: url('../fonts/MetropolisLight.eot');
    src: url('../fonts/MetropolisLight.eot') format('embedded-opentype'),
    url('../fonts/MetropolisLight.woff2') format('woff2'),
    url('../fonts/MetropolisLight.woff') format('woff'),
    url('../fonts/MetropolisLight.ttf') format('truetype'),
    url('../fonts/MetropolisLight.svg#MetropolisLight') format('svg');
}


*{
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}
/*body{*/
    /*position: relative;*/
/*}*/
header{
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 25px;
    padding-bottom: 12px;
    position: absolute;
    width: 100%;
}
header .container .logo{
    float: left;
}

header .search{
    border: none;
    background-color: #ebebeb;
    float: left;
    margin-left: 5px;
    width: 208px;
    border-radius: 3px;
}

header .container .search input{
    border: none;
    background: none;
    color: #989898;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'MetropolisMedium';
    line-height: 12px;
    padding: 15px 17px;
    float: left;
    width: 80%;
}

header .container .search input:after button{
    content: "";
    float: left;
    font-size: 17px;
    text-align: center;
}
header .container .search button .fa-search{
    font-size: 17px;
    text-align: center;
    color: rgba(0,0,0,0.65);
}
header .container .search button{
    float: right;
    width: 19%;
    border: none;
    background: none;
    margin-top: 12px;
}
header .container .search input:focus {
    outline: none;
}
header .container .search button:active {
    outline: none;
}
header .container .search button:hover .fa-search{
    color: red;
}

header .container .btn{
    float: right;
    background-color: red;
    width: 170px;
    line-height: 42px;
    border-radius: 3px;
    margin-right: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-family: 'MetropolisMedium';
}
header .container .dark_silver{
    background-color: #252525;
}
header .container .silver {
    background-color: #464646;
}

header .container .btn:hover{
    color: red;
    background: transparent;
}
header .border{
    border-bottom: solid 2px #464646;
}
/*main_menu*/
.menu {
    /*line-height: 1;*/
    /*margin: 0 auto 3em;*/
    float: left;
}

.menu__list {
    list-style: none;
    margin-top: 22px;
    display: inline-block;
}

.menu__list .menu__item {
    float: left;
    margin-right: 9px;
    margin-bottom: 12px;
}

.menu__list .menu__item  .menu__link {
    padding: 0 6px 10px;
    /*border-bottom: solid 4px transparent;*/
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-family: 'BebasNeueRegular';
}

.menu__link:hover,
.menu__link:focus {
    outline: none;
}
.menu--valentine .menu__item {
    position: relative;
    /*margin: 0 1em;*/
}

.menu--valentine .menu__link {
    position: relative;
    /*display: block;*/
    min-width: 105px;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu--valentine .menu__link:hover,
.menu--valentine .menu__link:focus {
    color: #929292;
}

.menu--valentine .menu__item--current .menu__link {
    color: red;
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after,
.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    content: '';
    position: absolute;
    background: red;
    -webkit-transform-origin: 350% 350%;
    transform-origin: 350% 350%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.menu--valentine .menu__item::before,
.menu--valentine .menu__item::after {
    top: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
}

/* left line */
.menu--valentine .menu__item::before {
    left: 0;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/* right line */
.menu--valentine .menu__item::after {
    right: 0;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.menu--valentine .menu__link::before,
.menu--valentine .menu__link::after {
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
}

/* top line */
.menu--valentine .menu__link::before {
    top: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* bottom line */
.menu--valentine .menu__link::after {
    bottom: 8px;
}

.menu--valentine .menu__item--current::before,
.menu--valentine .menu__item--current::after,
.menu--valentine .menu__item--current .menu__link::before,
.menu--valentine .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
header .container span{
    display: inline-block;
    float: right;
    text-align: center;
}
header .container .social_icon{
    margin-top: 17px;
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.65);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: red;
    margin-right: 16px;
}
header .container .icon{
    margin: 5px 0;
}
header .container .fa-facebook-f{
     font-size: 25px;
     margin-top: 5px;
     margin-left: 12px;
 }
.fa-facebook-f{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 12px;
}
.social_icon:hover .icon{
    color: white;
}
.title{
    width: 100%;
    margin: auto;
}
.title img{
    width: 100%;
}
.h1{
    position: absolute;
    /*position: fixed;*/
    width: 100%;
    top: 40%;
    left: 15%;
}
.h1 h1{
    color: white;
    font-size: 50px;
    border-bottom: solid red 2px;
    text-transform: uppercase;
    text-align: center;
    /*position: absolute;*/
    /*width: 100%;*/
    /*margin-top: 100px;*/
    /*top: 30%;*/
    font-family: 'BebasNeueRegular'
}
.section{
    max-width: 1170px;
    margin: auto;
    position: relative;
    top: -5px;
}
.section:after{
    content: "";
    display: block;
    clear: both;
}
h2{
    padding: 26px 0;
    background-color: #1d1a1b;
    color: white;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'BebasNeueRegular'

}
.owl-carousel .owl-item img{
    float: left;
    width: 30%!important;
    /*display: inline-block;*/
    /*transform: rotate(270deg);*/
}

h3{
    font-size: 25px;
    background-color: #ff0000;
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    float: right;
    width: 65%;
    /*margin-left: 10px;*/
    padding-left: 5%;
    font-family: 'BebasNeueRegular'
}
p{
    float: right;
    width: 65%;
    /*display: inline-block;*/
    /*text-align: right;*/
    font-size: 17px;
    padding-top: 35px;
    /*margin-left: 50px;*/
    font-family: 'BebasNeueRegular';
    font-family: 'MetropolisRegular';
}

.owl-carousel button.owl-dot span{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    margin: 0 11px;
}
.owl-dots{
    text-align: center;
}
.owl-carousel button.owl-dot.active span{
    background-color: red;
    width: 7px;
    height: 7px;
}
.owl-nav .owl-prev:after{
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: red;
    border: solid red 2px;
    border-bottom: none;
    border-right: none;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
}
.owl-nav .owl-prev{
    position: absolute;
    top: 45%;
    right: 100%;
    margin-right: 50px;
}
.owl-nav .owl-next:after{
    display: block;
    content: "";
    /*font-size: 25px;*/
    color: red;
    border: solid red 2px;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
}
.owl-nav .owl-next{
    position: absolute;
    top: 45%;
    left: 100%;
    margin-left: 50px;
}
.owl-carousel .photo{
    width: 330px!important;
    height: 370px;
    transform: rotate(90deg);
    float: left!important;
}

.ui-dialog{
    width: 100%!important;
    max-width: 750px!important;
    padding: 0px!important;
    border: 0px;
}
.ui-dialog .ui-dialog-title{
    width: 100%;
    text-align: center;
    margin: 0px;
    line-height: 100px;
    /*background-color: black;*/
    color: #FFF;
    font-size: 24px;
    font-family: 'NowBold';
}
.ui-corner-all{
    border-radius: 0 0 10px 10px!important;
}
.ui-draggable-handle{
    border-radius: 0px;
}
.ui-dialog .ui-dialog-titlebar-close{
    display: none;
}
.ui-dialog .ui-dialog-titlebar{
    background-color: black;
    border-radius: 0!important;
}
.ui-widget-header, .ui-widget.ui-widget-content{
    border: none!important;
}
.password{
    max-width: 100%;
}
.password lable{
    float: left;
    text-align: center;
    width: 25%;
    font-size: 22px;
    font-family: 'NowMedium';
}
.password input{
    float: right;
    width: 70%;
    line-height: 60px;
    text-align:center;
    /*margin-right: 5%;*/
    margin-bottom: 30px;
}

.ui-widget .password button{
    width: 90%;
    /*margin: auto;*/
    line-height: 60px;
    background-color: #d2d2d2;
    font-size: 24px;
    font-family: 'NowBold';
    border: none;
    text-align: center;
    margin-left: 5%;
}
#dialog h4{
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'NowMedium';
}
#dialog .login_fb{
    min-width: 90%;
    line-height: 60px;
    background-color: #557acb;
    font-size: 24px;
    font-family: 'NowBold';
    border: none;
    text-align: center;
    margin-left: 5%;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
#dialog .login_fb .fa-facebook-f{
    color: white;
    /*margin: auto;*/
    font-size: 24px;
    margin-right: 15px;
}
.ui-resizable-handle{
    display: none;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
